<!DOCTYPE html>
<html lang ='en'>
<head>
<title> Edit Profile | Movie Meet Up </title>
<link rel='stylesheet' href='css/edit-profile-style.css'>
<!--favicon originally called '1f37f.svg' from icons8-->
<link rel='icon' type='image/png' href='../images/popcorn-favicon-icons8-small.png'>
</head>
<script>
  function preview_image(event) {
     var reader = new FileReader();
     reader.onload = function(){
       var output = document.getElementById('output_image');
       output.src = reader.result;
     }
     reader.readAsDataURL(event.target.files[0]);
   }
  function isDone(){
   result = confirm('Done changing your profile?');
  }
  function toGenres(){
   result = confirm('To Genre Selection Page?');
  }
  function uploadAlert() {
  alert("upload successful!");
  }
</script>
<body>

    <div class='edit-form'>

      <h1 class='form-title'> Edit Profile </h1>
      
      <form method="POST" id='fileupload'enctype="multipart/form-data" action="/upload">
        <p>Profile Picture</p>
        <input type="file" id="file" name="profilepic" accept="image/*" onchange="preview_image(event)" value="<%= User.profilepic %>" > 
        <img id="output_image"/> <br><br><hr>
        <!--SAVE AND RETURN TO PROFILE VIEWER-->
        <button type='submit' class='btn' id='upload' onclick='uploadAlert()'>upload</button>
      </form>
      
      <form action='/profiler/EditProfileProc' method='POST' id='form'>

        <p>About You</p>
        <input type="hidden" name="id" value="<%= User.id %>"/>
        <label>first name</label><input type='text' class='input-box' required name='fname' id='fname' value='<%= User.firstname %>'>
        <label>last name</label><input type='text' class='input-box' required name='lname' id='lname' value='<%= User.lastname %>'>
        <label>username</label><input type='text' class='input-box' maxlength='30'required name='name' id='name' value='<%= User.name %>'>
        <!-- note: bio(includes max length) and favorite movie are not set to required -->
        <label>bio</label><input type='text' class='input-box' maxlength='280' id='bio' name='bio' value='<%= User.bio %>'>
        <label>favorite movie</label><input type='text' class='input-box' maxlength='280' id='favMovie' name='favMovie' value='<%= User.favmovie %>'>
        
        <!-- button to direct user to GENERE SELECT PAGE -->
        <button type='button' value='edit genres' id='pickGenres' onclick="location.href='../genreSelection.html';" target = "_blank">edit genres</button>
        <button type='submit' class='btn' id='submit'>save</button>
      </form>

        <!--CANCEL AND RETURN TO PROFILE VIEWER-->
      <form action='/profiler/viewProfile.html' method='POST' id='form'>
        <input type="hidden" name="id" value='<%= User.id %>'/>
         <button type='submit'>cancel and return to profile</button>
      </form>
       
    </div><!-- close div for class edit form -->

</body>

</html>
