<!--TURN IN-->
<!DOCTYPE html>
<html lang ='en'>
<head>
<title> Profile | Movie Meet Up </title>
<link rel='stylesheet' href='css/profile-viewer-style.css'>
<!--favicon originally called '1f37f.svg' from icons8-->
<link rel='icon' type='image/png' href='/images/popcorn-favicon-icons8-small.png'>
<style>
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  ul.topnav li {float: left;}

  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul.topnav li a:hover:not(.active) {background-color: #111;}

  ul.topnav li a.active {background-color: #888;}

  ul.topnav li.right {float: right;}

.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}
</style>
</head>


<script type = 'text/javascript'>
  function isValid(){
            result = confirm('Are you sure you want to leave this page?');
        }
      
        window.onload = function() {
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}
</script>

<body>

  <ul class="topnav">
      <li><a href="../userlist">User List</a></li>
      <li><a class="active" href="./myprofile" >View Profile</a></li>
      <li><a href="../">Log Out</a></li>
  </ul>

    <div class='edit-form'>

      <h1 class='form-title'><%= User.name %></h1>
      <form action='profileMMU.html' method='POST' id='form'>
        <% if (User.profilepic != undefined) { %>
        <img src='<%= User.profilepic %>' style="width:100%; max-width:300px;"/>
        <% } %>
        <p><%= User.bio %></p>
        <hr>
        <!--INSERT FAVORITE MOVIE GENRES HERE-->
        <p>My Top Genres</p>
        <p><%= User.likedgenres %></p>
        <label>My favorite movie is <%= User.favmovie %></label>


       <!-- button to use mailto to send an email -->
       <button><a href='mailto:<%= User.email %>' style='color:#fff; text-decoration:none'>send me a message</a></button>

        <!--Directs user to profileMMU.ejs to edit profile-->
        <% if (User.id == session.id){ %>
        <a href='/profiler/editProfile' id='editProfileLink' style='text-decoration:none;'>edit profile</a>
        <% } %>
        <!--<a href='profileMMU.ejs' style='text-decoration:none;'>edit profile</a>-->

      </form>

    </div><!-- close div for class edit form -->

</body>

</html>
