<!DOCTYPE html>
<html lang ="en">
<head>
    <title>Profile Page</title>
    <meta charset="utf-8">
</head>
<body>
    <script type = "text/javascript">
        function isValid(){
            result = confirm("are you sure you want to leave this page?");
        }
        //the code below if my botched way of saying that if the user is viewing a profile that is not their own, then hide the edit profile button lol
        if(User.id != id){
            document.getElementById("editProfile").style.visibility = "hidden";
        }
    </script>
    <div id="profile">
        <label><%= User.name %></label>
        <label><%= User.firstname %></label><label> </label><label><%= User.lastname %></label>
        <!-- need a database query here for the profile image to be seen -->
        <!--image will go here-->
        <p>Bio: </p><label><%= User.bio %></label>
        <p>Fav Movie: </p><label><%= User.favmovie %></label>
        <!-- insert fav genres here -->
        <button value = "Edit Profile" id = "editProfile" onclick = "location.href = 'editProfile.ejs'"></button>
        <button value = "Message Me" id = "messageMe" onclick = "location.href = 'chatbox.ejs'"></button>
    </div>
</body>
</html>