<!DOCTYPE html>
 <html lang ="en">
 <html>
    <head>
        <title> 
            Edit Profile
        </title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="editProfile.css"/>
        <script type="text/javascript">
            function previewProfileImage( uploader ){   
                //ensure a file was selected 
                if (uploader.files && uploader.files[0]){
                    var imageFile = uploader.files[0];
                    var reader = new FileReader();    
                    reader.onload = function (e) {
                        //set the image data as source
                        $('#profileImage').attr('src', e.target.result);
                    }    
                    reader.readAsDataURL( imageFile );
                }
                $("#imageUpload").change(function(){
                    previewProfileImage( this );
                });
                $("#profileImage").click(function(e) {
                    $("#imageUpload").click();
                });
            }
            
            function isDone(){
                result = confirm("Done Changing Your Profile?");
            }

            function toGenres(){
                result = confirm("To Genre Selection Page?");
            }

            function undo(f){
                f.fname.value = User.givenName;
                f.lname.value = User.familyName;
                f.username.value = User.username;
                f.bio.value = User.bio;
                f.favMovie.value = User.favMovie;
                f.profileImage.value = User.profilePic;
                result = confirm("Undo Changes?");
            }
            function preview_image(event) {
                var reader = new FileReader();
                reader.onload = function(){
                    var output = document.getElementById('output_image');
                    output.src = reader.result;
                }
                reader.readAsDataURL(event.target.files[0]);
            }

        </script>
    </head>
    <body>
        <form action='/api/images' method="post" enctype="multipart/form-data">
            <fieldset>
                <div id="wrapper">
                    <input type="file" accept="image/*" onchange="preview_image(event)">
                    <img id="output_image"/>
                </div>
            </fieldset>
        </form>
        <form id = "form" method = "GET">
            <div class = "info">
                <fieldset id = "userInfo">
                    <label>First Name: </label><input type = "text" id = "fname" name = "fname" value = '<%= User.firstname %>' required>
                    <br>
                    <label>Last Name: </label><input type = "text" id = "lname" name = "lname" value = '<%= User.lastname %>' required>
                    <br>
                    <label>Username: </label><input type = "text" id = "username" name = "username" minlength = "3" maxlength = "30" value = '<%= User.firstname %>' >
                    <br>
                    <label>Bio: </label><input type = "text" id = "bio" name = "bio" maxlength = "280" value = '<%= User.bio %>' >
                    <br>
                    <label>Favorite Movie: </label><input type = "text" id = "favMovie" name = "favMovie" maxlength="280" value = '<%= User.favmovie %>' >
                    <br>
                    <div class="form-control">
                        <label class="header">Enter Profile Photo URL: </label>
                        <input id="imageUrl" type="text" name="profilePicUrl" placeholder="Photo" value = '<%= User.profilePic %>' required="" capture>
                    </div>
                    <p>OR</p>
                    <div class="form-control">
                        <label class="header">Upload Profile Photo:</label>
                        <input id="imageFile" type="file" name="profilePicFile" placeholder="Photo" value = '<%= User.profilePic %>' required="" capture>
                    </div>
                </fieldset>
                <input type = "submit" value = "Cancel" id = "cancelSubmit" onsubmit = "return undo(this.form)" action = "profileMMU.ejs">
                <button value = "Pick New Genres" id = "pickGenres" onclick = "location.href = 'editGenres.ejs'">
                <input type = "submit" value = "Done" id = "submit" onsubmit = "return isDone()" action = "profileMMU.ejs">
            </div>
        </form>
    </body>
    <footer>
        
    </footer>
</html>