<!DOCTYPE html>
<html lang ='en'>
<head>
<title> Edit Profile | Movie Meet Up </title>
<link rel='stylesheet' href='edit-profile-style.css'>
<!--favicon originally called '1f37f.svg' from icons8-->
<link rel='icon' type='image/png' href='popcorn-favicon-icons8-small.png'>
</head>

<script type = 'text/javascript' src='js/bootstrap-filestyle.min.js'>

  function previewProfileImage( uploader ){
   //ensure a file was selected
   if (uploader.files && uploader.files[0]){
       var imageFile = uploader.files[0];
       var reader = new FileReader();
       reader.onload = function (e) {
           //set the image data as source
           $('#profileImage').attr('src', e.target.result);
       }
       reader.readAsDataURL( imageFile );
   }
   $('#imageUpload').change(function(){
       previewProfileImage( this );
   });
   $('#profileImage').click(function(e) {
       $(;'#imageUpload').click();
   });
  }

  function isDone(){
   result = confirm('Done changing your profile?');
  }
  function toGenres(){
   result = confirm('To Genre Selection Page?');
  }
  function undo(f){
   f.fname.value = User.givenName;
   f.lname.value = User.familyName;
   f.username.value = User.username;
   f.bio.value = User.bio;
   f.favMovie.value = User.favMovie;
   f.profileImage.value = User.profilePic;
   result = confirm('Undo changes?');
  }

</script>

<body>

    <div class='edit-form'>

      <h1 class='form-title'> Edit Profile </h1>
      <form action='profileMMU.html' method='POST' id='form'>

        <p>About You</p>
        <input type='text' class='input-box' required placeholder='first name' name='fname' id='fname' value='<%= User.firstname %>'>
        <input type='text' class='input-box' required placeholder='last name' name='lname' id='lname' value='<%= User.lastname %>'>
        <input type='text' class='input-box' maxlength='30'required placeholder='username' name='name' id='name' value='<%= User.name %>'>
        <!-- note: bio(includes max length) and favorite movie are not set to required -->
        <input type='text' class='input-box' maxlength='280' placeholder='bio' id='bio' value='<%= User.bio %>'>
        <input type='text' class='input-box' maxlength='280' placeholder='favorite movie' id='favMovie' value='<%= User.favMovie %>'>
        <!-- button to direct user to GENERE SELECT PAGE -->
        <button type='submit' value='edit genres' id='pickGenres' onsubmit='return toGenres()' action='editGenres.ejs'>edit genres</button>

        <p>Profile Picture</p>
        <input type='text' class ='input-box' id='imageUrl' placeholder='enter profile photo URL' capture>
        <p class ='or'>or</p>
        <input type='file' class='custom-file-input' capture id='imageFile'> <br><br><hr>

        <!--SAVE AND RETURN TO PROFILE VIEWER-->
        <button type='submit' class='btn' id='submit'>save</button>
        <!--CANCEL AND RETURN TO PROFILE VIEWER, button that looks like a hyperlink-->
        <input type ='submit' value ='cancel and return to profile' id ='cancelSubmit' onsubmit='return undo(this.form)' action='profileMMU.ejs'>

      </form>

    </div><!-- close div for class edit form -->

</body>

</html>
